@charset "UTF-8";

.createAccount-wrapper {
	position: relative;
	padding: 20px;
	text-align: center;
}

.createAccount-wrapper  > .form-wrapper div {
	margin-bottom: 10px;	
}

.createAccount-wrapper > .logo ,
.createAccount-wrapper > .form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.createAccount-wrapper > .form-wrapper a {
	position: absolute;
	left: 5px;
}

input {
	width: 500px;
}

.createAccount-wrapper > .btns {
	margin-top: 70px;	
}
button { height: 60px; padding: 5px; width: 500px; margin: 5px 0; border: none; }

#floatingEmail {
	width: 500px;
}

.createAccount-wrapper > .logo {
	
}

