@charset "UTF-8";
  
  /* ★ 상단 네비바 */
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
  }
nav .nav-btn {
	cursor: pointer;
}
  .title-banner {
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 300px;
    
    display: block;
    margin: 0 auto;
  }

  .desktop-nav {
    display: inline-block;
  }

.desktop-nav a {
	padding: 20px;
}
  .desktop-nav li {
    display: inline-block;
    position: relative;
    padding: 10px;
  }

  .desktop-nav li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2;
    width: 100%;
    height: 5px;
    background: rgba(222, 184, 135, 0.5);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  .desktop-nav li:hover::after {
    transform: scaleX(1);
    transform-origin: left;    
  }
  
  .desktop-nav li:not(:last-child) {
	border-right: 1px solid #ddd;	
}








/* ★ 알람(Notification) 모달창 */
.notificationItems {
  transition: background-color 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}
.notificationItems::before {
  content: "보기";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.notificationItems:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
.notificationItems:hover::before {
	opacity: 1;
}
#swal2-html-container .notificationItems {
    padding: 10px;
    border-radius: 5px;
}






/* 공지사항 알람 */
nav #newNoticeCheck {
	display: none;
    position: relative;
    left: 2px;
    bottom: 2px;
}