<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.smile.dao.MainBoardMapperInterface">


  	<insert id="write" parameterType="hashmap">
	    INSERT INTO board_main VALUES (
	    	null ,  #{content} , #{date} , 0 , #{userPK}
	    )
  	</insert>

  	<select id="content_view" resultType="com.lgy.smile.dto.MainBoardDto">
	    SELECT * 
	    FROM board_main
	    WHERE identity = #{identity}
  	</select>
  	
  	<select id="list" resultType="com.lgy.smile.dto.MainBoardDto">
		SELECT 
			user.nickname
		    , board.* 
		    , LENGTH(board.likes) - LENGTH(REPLACE(board.likes, ',', '')) "likeCount"
		    , (SELECT count(*) FROM smile.comment_main WHERE board = board.identity) "commentCount"
		
		FROM 
			smile.user user,
		    smile.board_main board
		
		WHERE
		    board.user = user.identity
		ORDER BY
			board.identity DESC
			LIMIT ${start}, 5
  	</select>

	<insert id="modify" parameterType="hashmap">
		UPDATE board_main
		SET content = #{content}
		WHERE identity = ${identity}
  	</insert>
  	
  	<delete id="delete" parameterType="hashmap">
  		DELETE FROM board_main
  		WHERE identity = #{identity}
  	</delete>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	<update id="like_toggle" parameterType="hashmap">
  	<![CDATA[
		UPDATE smile.board_main
		SET likes = CASE WHEN likes LIKE '%, ${user}%' THEN REPLACE(likes, ', ${user}', '')
		    ELSE CONCAT(likes, ', ', ${user})
		    END
		WHERE identity = ${identity};
		]]>  		
  	</update>
  	
</mapper>