<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.smile.dao.UserMapperInterface">


  	<select id="login" resultType="com.lgy.smile.dto.UserDto" parameterType="hashmap">
	    SELECT * FROM user WHERE id = #{id}
  	</select>

	<update id="modify" parameterType="hashmap">
		UPDATE user SET pwd=#{password}, nickname=#{nickname} where id = #{id}
	</update>  	
  	
  	<select id="isDuplicated" resultType="com.lgy.smile.dto.UserDto" parameterType="hashmap">
	    SELECT * FROM user WHERE id = #{id}
  	</select>

  	
  	
  	
</mapper>




